.profile {
  position: relative;
  animation: image 20s linear infinite;
}

.splash {
  position: relative;
  animation: bg 20s ease-in-out infinite;
}


.hero::before {
  position: absolute;
  content: "";
  height: 400px;
  width: 400px;
  border-radius: 50%;
  left: -20%;
  top: 30%;
  background: linear-gradient(287deg, #FF6600, #ffffa1);
  z-index: -1;
  animation: blob1 15s ease-in-out infinite;
}

.hero::after {
  position: absolute;
  content: "";
  height: 100px;
  width: 100px;
  border-radius: 50%;
  left: 30%;
  top: 10%;
  background: linear-gradient(129deg, #FF6600, #ffffa1);
  z-index: -10;
  animation: blob1 10s ease-in-out infinite;
}

@keyframes blob1 {
  0% {
    transform: translate(0px, 0px);
  }

  50% {
    transform: translate(-10px, 20px);
  }

  100% {
    transform: translate(0px, 0px);
  }
}

@keyframes blob2 {
  0% {
    transform: translate(0px, 0px);
  }

  50% {
    transform: translate(7px, -18px);
  }

  100% {
    transform: translate(0px, 0px);
  }
}


@keyframes image {
  0% {
    transform: translate(0px, 0px);
  }

  20% {
    transform: translate(5px, 10px);
  }

  40% {
    transform: translate(3px, 7px);
  }

  60% {
    transform: translate(2px, 10px);
  }

  80% {
    transform: translate(10px, 5px);
  }

  100% {
    transform: translate(0px, 0px);
  }
}

@keyframes bg {
  0% {
    transform: translate(0px, 0px);
  }

  20% {
    transform: translate(7px, 3px);
  }

  40% {
    transform: translate(5px, 9px);
  }

  60% {
    transform: translate(8px, 8px);
  }

  80% {
    transform: translate(5px, 9px);
  }

  100% {
    transform: translate(0px, 0px);
  }
}